
header , main , footer {
    font-family: 'Mansalva', cursive;
    background-color: #FFC1C1;
}
.container {
    width: 80%;
    margin:auto;
}
nav ul li a{
    color: #FFC1C1;
    text-decoration:none;
    font-family: 'Mansalva', cursive;
    line-height: 100px;
    
    
}
nav ul li{
    width:100px;
    height:100px;
    background-color:#FF6A6A;
    margin-bottom: 3%;
    border-radius: 10%;
    list-style:none;
    text-align: center;
    
    
}

html{
    background-color: #FFC1C1;
}
button {
    background-color:#FF6A6A;;
    color: #FFC1C1;
    border-radius: 10%;
    font-family: 'Mansalva', cursive;
}